<template>
  <div>
        <input type="number" name="add1" v-model="A" />
        /
        <input type="number" name="add2" v-model="B" />
        <button v-on:click="dividir()" v-bind:disabled="error">DIVIDIR</button>
        <div v-if="!error" class="result">{{ result }}</div>
        <div v-if="error" class="error">Não é permitida divisão por zero.</div>
  </div>
</template>

<script>
import { div } from '../classes/Operators'
export default {
  methods: {
    dividir: function () {
      this.result = div(parseInt(this.A), parseInt(this.B))
    }
  },
  computed: {
    error () {
      return parseInt(this.B) === 0
    }
  },
  data () {
    return {
      A: 0,
      B: 0,
      result: 0
    }
  }
}
</script>

<style>

</style>
